{% extends 'base.html' %}

{% block data %}
<form class="form-horizontal" action="{{url_for('camera_manage')}}">
    <fieldset>
        <div class="form-group">
            <div class="col-md-12">
                <img src="{{stream_url}}"></img>
                {% if on_air %}<p><a href="{{outer_stream_url}}">Live video</p>{% endif %}
            </div>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
            <div class="col-md-8">
                <button name="button" value="on" id="button_on" class="btn btn-success" type="submit" {% if on_air %} disabled="" {% else %} enabled="" {% endif %}>Camera ON</button>
                <button name="button" value="off" id="button_off" class="btn btn-danger" type="submit" {% if on_air %} enabled="" {% else %} disabled="" {% endif %}>Camera OFF</button>
            </div>
        </div>

    </fieldset>
</form>

{% endblock %}
